*{
    box-sizing: border-box;
    margin: 0 auto; 
    padding: 0;
}

#container {
    margin: 0 auto;
    margin-top: 20px;
    width: 1000px;
}

header {
    height: 100px;
    /* background-color: #E579E6; */
    margin-bottom: 15px;   
}

.logo {
    height: 50px;
    line-height: 50px;
    border-right: 1px solid lightgrey;
    padding-right: 13px;

}

nav {
    margin-top: 20px;


    
}

nav ul li {
    list-style-type: none;
    white-space: nowrap;
    display: inline-block;
    padding-left: 0px;
    text-transform: uppercase;
    padding-right: 15px;
    
}

nav ul li a {
    text-decoration: none;
    color: grey;
}

nav ul li a:hover {
    text-decoration: none;
    background-color: #DEDEDE;
 
   
}

nav ul li a:visited {
    text-decoration: none;
    color: grey;
}


main {
    height: 400px;
    background-color: grey; 
    margin-bottom: 15px;
    position: relative;
    border-radius: 10px 10px 10px 10px;
}

.banner {
    height: 400px;
    width: 1000px;
    position: absolute;
}

.banner1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.6;
}

.banner2 {
    display: none;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.6;
}

.banner:hover .banner1 {
    width: 100%; 
    display: none;
}

.banner:hover .banner2 {
    width: 100%; 
    display: block;
}

.banner-text {
    position: absolute;
    width: 55%;
    top: 260px;
    padding-left: 35px;
    color: white;
}

.banner-text h1 {
    font-weight: normal;
    line-height: 28px;
    padding-bottom: 5px;
}

.top_content {
    height: 88px;
    width: 100%;
    /* background-color: #ABCFE7;  */
    position: relative;
} 

.content-header {
    position: absolute;
    width: 100%;
    top: 20px;
}

.content-header h1 {

}

.content-header .sub-text {
    color: grey;
}

section {
    /* background-color: #1083E9; */
    padding-top: 10px;
    padding-bottom: 10px;
   
}

section::after {
    content: "";
    display: block;
    clear: both;
}

.col_left {
    min-height: 500px;
    width: 200px;
    /* background-color: #ABCFE7;   */
    float: left;
    margin-right: 10px;
}

.swapimg {
    height: 200px;
    width: 100%;

    border-radius: 10px 10px 10px 10px;

    background-color: grey;
    position: relative;

}


.imgA {
  
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.6;
    position: absolute;
    left: 0px;
    top: 0px;
 
    
}

.imgB {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.6;
    position: absolute;
    left: 0px;
    top: 0px;
    object-position: center;
}

.swapimg:hover .imgA {
    width: 100%; 
    display: none;
}

.swapimg:hover .imgB {
   object-fit: cover;
    display: block;
   
}


.paragrafo h4 {
    padding-top: 10px;
    padding-bottom: 7px;
}



.center {
    min-height: 500px;
    width: calc(1000px - 400px - 20px);
    /* background-color: #ABCFE7; */
    float: left;
}

.col_right {
    min-height: 500px;
    width: 200px;
    /* background-color: #ABCFE7;  */
    float: left;
    margin-left: 10px;
}

footer {
    height: 45px;
    /* background-color: #8801FE; */
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    line-height: 45px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.cuore {
    color: red;
}
